################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dota2_TimerBoard/obj
/.vs/Dota2_TimerBoard/v15/Server/sqlite3
/packages
